<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><%= link_to image_tag("carousel/handle.png", alt: "Handle") %></div>
        <div class="item"><%= link_to image_tag("carousel/fork2.png", alt: "Fork2") %></div>
		<div class="item"><%= link_to image_tag("carousel/palet.png", alt: "Palet") %></div>
		<div class="item"><%= link_to image_tag("carousel/fork5.png", alt: "Fork5") %></div>
      </div>
    </div>    
    
	<section id="homeSection">
    <h1>Welcome to the SecureWarehouse</h1>
    <h2>
      This is the place where you can store your units securely.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>	
	</section>
	<div class="clearfix"></div>
  </div>
  
<% end %>