<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	
      <%= f.label :login %>
      <%= f.text_field :login %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :second_name %>
      <%= f.text_field :second_name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
