<h1>
  <%= "#{current_user.first_name} #{current_user.second_name} (#{current_user.login})" %>
</h1>

<%= link_to content_tag(:i, nil, class: 'icon-wrench icon-white') + ' settings', edit_user_path(current_user), {class: 'btn btn-danger'} %>

<h3>
  <%= pluralize(current_user.units.count, "unit") %>
</h3>
<%= link_to content_tag(:i, nil, class: 'icon-align-justify icon-white') + ' view units', units_path, {class: 'btn btn-info'} %>
<%= link_to content_tag(:i, nil, class: 'icon-plus icon-white') + ' store unit', new_unit_path, {class: 'btn btn-primary'} %>