<li>
  <div>
  <h4><%= unit.title %></h4>
  <span class="label label-inverse category"><%= @categories[unit.category-1] %></span>  
  </div>
  <p class="description"><%= unit.description %></p>
  <span class="timestamp">
    Began to store <%= time_ago_in_words(unit.created_at) %> ago.
  </span>
  <%= link_to_if current_user?(unit.user), content_tag(:i, nil, class: 'icon-remove icon-white') + ' remove', unit, method: :delete, data: { confirm: "Are you sure?" }, title: unit.title, class: 'btn btn-danger btn-small' %>  
  
</li>