  <div class="span10">
    <% if current_user.units.any? %>
      <h3>Units (<%= current_user.units.count %>)</h3>
	  <div>
		<%= form_tag('#', method: "get", class: 'form-inline') do %>
		  <%= text_field_tag :q, @query, class: 'span6 search-query' %>
		  <%= button_tag(type: 'submit', class: 'btn btn-success', name: 'commit', value: 'find') do %>
			<i class="icon-white icon-search"></i> find
		  <% end %>
		  <br />
		  <%= radio_button_tag :filter_content, 'in_title', @search_in == 'in_title', class: 'inline' %>
		  <%= label_tag :filter_content_in_title, 'In title', class: 'inline' %>
		  <%= radio_button_tag :filter_content, 'in_description', @search_in == 'in_description', class: 'inline' %>
		  <%= label_tag :filter_content_in_description, 'In description', class: 'inline' %>
		  <%= radio_button_tag :filter_content, 'in_both', @search_in == 'in_both', class: 'inline' %>
		  <%= label_tag :filter_content_in_title, 'In both', class: 'inline' %>
		  <br />	
		  <%= label_tag :filter_category, 'Filter by category' %>
		  <br />
		  <%= select_tag :filter_category, options_for_select(controller.categories_select, @only_categories), {:multiple => true, :size => 8, :class => 'span6'} %>
			
		  
		<% end %>
	  </div>
      
	  <%= link_to content_tag(:i, nil, class: 'icon-plus icon-white') + ' store unit', new_unit_path, {class: 'btn btn-primary'} %>
	  
	  <ol class="units">
        <%= render @units %>
      </ol>
      <%= will_paginate @units %>
    <% end %>
  </div>