<% provide(:title, 'Store unit') %>
<h1>Store unit</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@unit) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_field :description %>

	  <%= f.label :category %>
	  <%= f.select :category, controller.categories_select %>
	  
      <%= f.submit "Store unit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
