<footer class="footer">
  <div class="container">
  <section>
    <span>SecureWarehouse service</span>
	<span>by SenTieL</span>
  </section>
  <section>
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  </section>
  <section>
    <%= link_to image_tag("logo.png", alt: "VolgaCTF"), 'http://volgactf.ru' %>
  </section>
  <section>
    <span><%= link_to 'VolgaCTF', 'http://volgactf.ru' %> 2013 Final</span>
    <span>Samara, September 5</span>
	<span><%= link_to 'Koibasta', 'http://koibasta.ru' %></span>
  </section>

  </div>
</footer>