<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
	<div class="container">
	  <%= link_to "SecureWarehouse", root_path, id: "logo" %>
	  <nav>
		<ul class="nav pull-right">
		  <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li id="some-menu" class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Units <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "View", units_path %></li>
					<li class="divider"></li>
					<li><%= link_to "Add new unit", new_unit_path %></li>
				</ul>
			</li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.login %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>		  
		</ul>
	  </nav>
	</div>
  </div>
</header>